h1 {
	color: #001242;
	background-color: #ADD7F6;
	text-align: center;
	width:100%;
}

h2{
	
	text-align: center;
	width:100%;
	background-color: #ADD7f6;
}

body {
	background-color: #187795;
	padding-left: 25%;
	padding-right: 25%;

}

p {
	color: #001242;
	background-color:  #ADD7F6;
	text-align: center;
	width: 100%;
	font-family: Helvetica;
}

ul {
	color:#001242;
	background-color: #ADD7f6;
	font-family: Helvetica;
}